:root{
    --theme-color: #FFFF;
    --primary-color: #273036;
    --secondary-color: #FFA500;
    --text-color-inverse: #FFFF;
    --text-color: black;
    --navbar-color: #FFA500;
    --navbar-shallow-color: grey;
    --navbar-alternative-color: #FFFF;
    --menu-mobile-background-color: #273036;
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 70px;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
} 

.vertical-padding{
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (min-width: 950px){
    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    } 
    
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}